/part06-Part06_08.CargoHold/target/
/part06-Part06_09.SimpleDictionary/target/
/part06-Part06_10.TodoList/target/
/part06-Part06_11.Averages/target/
/part06-Part06_12.JokeManager/target/
/part07-Part07_01.LiquidContainers/target/
/part07-Part07_02.LiquidContainers2/target/
/part07-Part07_03.Sorting/target/
/part07-Part07_05.Searching/target/
/part07-Part07_06.GradeStatistics/target/
/part07-Part07_07.RecipeSearch/target/